// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image1 {
	background-image: url(test1.jpg);
}

.image2 {
	background-image: url(test2.jpg);
}


.image3 {
	background-image: url(test3.jpg);
}

.image4 {
	background-image: url(test4.jpg);
}

.image5 {
	background-image: url(test5.jpg)
}

#container{
	height: 500px;
}